th{
    transition-duration: 0.8s;
    text-align: center;
    font-size: 20;
    background-color: rgb(241, 189, 16);
    color: rgb(255, 255, 255);
}
th:hover{
    background-color: rgb(84, 229, 255);
    color: rgb(0, 0, 0);
}
td{
    transition-duration: 0.8s;
    text-align: center;
    font-size: 20;
    border: 23;
    background-color: rgb(241, 189, 16);
}
td:hover{
    background-color: rgb(84, 229, 255);
    -webkit-text-fill-color: rgb(240, 238, 238);
}
body{
    text-align: center;
    background-color:rgb(84, 229, 255);
    transition-duration:1s;
    
}
#size{
    font-size: 17;
}
caption{
    font-size: 25;
}